absl-py
altair
appdirs
astunparse
attrs
beautifulsoup4
blinker
cachetools
certifi
charset-normalizer
click
colorama
commonmark
contourpy
cycler
decorator
emot
entrypoints
filelock
flatbuffers
fonttools
gast
gitdb
GitPython
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
importlib-metadata
ipython
Jinja2
joblib
jsonschema
keras
kiwisolver
libclang
lxml
Markdown
MarkupSafe
matplotlib
multitasking
nltk
numpy
oauthlib
opt-einsum
packaging
pandas
pandas-datareader
Pillow
plotly
protobuf
pyarrow
pyasn1
pyasn1-modules
pydeck
Pygments
Pympler
pyparsing
pyrsistent
PySocks
python-dateutil
pytz
pytz-deprecation-shim
regex
requests
requests-oauthlib
rich
rsa
scikit-learn
scipy
seaborn
semver
six
smmap
snscrape @ git+https://github.com/JustAnotherArchivist/snscrape.git@cbdaee6864aa8d3e9e4326d4fe224a517aabbc2c
soupsieve
streamlit
tenacity
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
textblob
threadpoolctl
toml
toolz
tornado
tqdm
typing_extensions
tzdata
tzlocal
urllib3
validators
watchdog
Werkzeug
wordcloud
wrapt
yfinance
zipp
